@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif; /* Optional for all elements */
}

.title{
    font-weight: normal;
    font-size: 40px;
}

.subheading{
    padding-top: 20px;
    padding-left: 10px;
}

.app-container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    box-shadow:2px 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 30px auto;
}


.main-container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    align-self: center;
    box-shadow:2px 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.button-container{
    border: 0px ;
    padding: 5px 10px;
    margin-right: 10px;  
    margin-top: 10px;   
    margin-bottom: 10px;   
    cursor: pointer;
    color: white;
    background-color: rgb(197, 197, 197);
    }

    .button-container:hover {
        background-color: rgb(145, 145, 255);
        

    }

    .button-container.color1{
        background-color: rgb(197, 197, 197);
        color: white;
    }

    .button-container.color1.clicked {
        background-color: transparent; 
      }

    .button-container.color2{
        color: white;
        background-color: rgb(145, 145, 255);
        
    }

    .radio-button {
        cursor: pointer;
    }

    .input-field{
        
        margin-right: 10px;
    }

    .category{
        display: inline-block; 
        margin-right: 5px;
    }

    .add-category{
        margin-top: 5px;
    }

    p{
        display: inline;
        margin: 0;
        padding: 0;
    }

    .label{
        margin-right: 5px;
    }

    .response{
        line-height: 1.6;
        white-space: pre-wrap; /* Maintains line breaks */
    }

    .form-container{
        border-radius: 5px;
        padding: 10px;
        margin: 20px;
        width: fit-content;
    }
